<div class="uk-section uk-section-large uk-background-cover uk-background-norepeat"
    style="background-image:url(https://res.cloudinary.com/hungryram19/image/upload/v1637562050/navid-ziaolhagh/ambiance-home/living-room.jpg)">
    <div class="uk-container uk-container-large">
        <div class="uk-grid uk-light">
            <div class="uk-width-3-5@s editable">
                <p>WATCH THE VIDEO FROM THE FACTORY</p>
                <h2 class="uk-h1 uk-margin-remove">The excellent tradition of handmade and design</h2>
            </div>
            <div class="uk-width-expand@s uk-flex uk-flex-middle uk-flex-center">
                <a href="#modal-center" uk-toggle>
                    <span uk-icon="icon:play-circle;ratio:4"></span>
                </a>
            </div>
        </div>
    </div>
</div>

<div id="modal-center" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

        <button class="uk-modal-close-default" type="button" uk-close></button>

        <video src="https://res.cloudinary.com/hungryram19/video/upload/v1645862077/navid-ziaolhagh/ambiance-home/islandhouse.mp4" width="" height="" uk-video></video>

    </div>
</div>